apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ .Values.rabbitmq.name }}-pvc"
  namespace: "{{ .Values.app.name }}-namespace"
spec:
  resources:
    requests:
      storage: 100Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
